{% extends 'client/client.html' %}
{% load static %}

{% block css_3 %}
<style>

    .Container{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:1rem;
        font-size:22px;
    }
    form{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:1rem;
        font-size:22px;
    }

    form button{
        width:auto;
        height:60px;
        font-size:22px;
    }


</style>
{% endblock css_3 %}
{% block main %}
<div class="Container">
    <h1>Appointment Details</h1>

    <h3>Client: {{ appointment.client.user.first_name }} {{ appointment.client.user.last_name }}</h3>
    <p>Date: {{ appointment.date }}</p>
    <p>Description: {{ appointment.description }}</p>
    <p>Total Price: {{ appointment.total_price }}</p>

    <h3>Tests Requested:</h3>
    <ul>
        {% for test in appointment.tests_requested.all %}
            <li>{{ test.name }}</li>
        {% empty %}
            <li>No tests requested.</li>
        {% endfor %}
    </ul>

    <h3>Payment Option: {{ appointment.get_payment_option_display }}</h3>
    <p>Payment Status: {{ appointment.payment_status }}</p>
    <p>Attended: {{ appointment.attended }}</p>
</div>

{% endblock main %}