{% extends 'client/client.html' %}
{% load static %}

{% block main %}
<div class="Container">
    <h1>Appointment Details</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}


    <h3>Client: {{ appointment.client.user.first_name }} {{ appointment.client.user.last_name }}</h3>
    <p>Date: {{ appointment.date }}</p>
    <p>Description: {{ appointment.description }}</p>
    <p>Total Price: {{ appointment.total_price }}</p>

    <h3>Tests Requested:</h3>
    <ul>
        {% for test in appointment.tests_requested.all %}
            <li>{{ test.name }}</li>
        {% empty %}
            <li>No tests requested.</li>
        {% endfor %}
    </ul>

    <h3>Payment Option: {{ appointment.get_payment_option_display }}</h3>
    <p>Payment Status: {{ appointment.payment_status }}</p>

    <h3>Status</h3>
    {% if appointment.cancelled %}
        <p>Appointment Has Been Cancelled</p>
    {% elif time_difference >= 3 %}
        <form action="{% url 'client_cancel_appointment' appointment.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Cancel Appointment</button>
        </form>
    {% else %}
        <p>Appointment cannot be cancelled, need to canceled 3 days prior</p>
    {% endif %}

</div>

{% endblock main %}