{% extends 'auditor/auditor.html' %}
{% load static %}
{% block css_2 %}

<link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock css_2 %}
{% block main %}
<div class="Container">

    <h1>Analysis Requests</h1>

    <div class="header ">
        <div class="search">
            <form class="search-bar" method="post">
                {% csrf_token %}
                <button type="submit" name="search">
                    <span class="material-icons search-icon">
                        search
                    </span>
                </button>
                <input class="search-bar-input" id="search" name="search" placeholder="Search" required="" type="text">

            </form>
        </div>
        <div class="nurse">
            <a href="{% url " auditor_request_list"
                %}?date={{sort_date}}&nurse={{sort_nurse}}&date_sort=True&state={{state}}">
                <button class="list-button filter">
                    <span>Date</span>
                    <span class="material-icons">sort</span>
                </button>
            </a>
            <a href="{% url " auditor_request_list"
                %}?date={{sort_date}}&nurse={{sort_nurse}}&nurse_sort=True&state={{state}}">
                <button class="list-button filter">
                    <span>Nurse</span>
                    <span class="material-icons">sort</span>
                </button>
            </a>
        </div>


    </div>

    <div class="header ">
        <div class="search">

        </div>
        <div class="nurse">
            <a href="{% url " auditor_request_list" %}?state=pending">
                <button class="list-button filter">
                    <span>Pending</span>
                    <span class="material-icons">filter_list</span>
                </button>
            </a>
            <a href="{% url " auditor_request_list" %}?state=working">
                <button class="list-button filter">
                    <span>Working</span>
                    <span class="material-icons">filter_list</span>
                </button>
            </a>
            <a href="{% url " auditor_request_list" %}?state=finished">
                <button class="list-button filter">
                    <span>Finished</span>
                    <span class="material-icons">filter_list</span>
                </button>
            </a>

        </div>

    </div>


    {% if pending_requests is not None %}
    {% if pending_requests %}
    <div class="userlistcl">
        <div class="infoheadercl">
            <h3>Pending Requests</h3>
        </div>

        <div class="userscontianercl">
            <div class="scrollcl">
                <ul>
                    {% for request in pending_requests %}
                    <li class="app1">
                        <span><strong>Appointment #{{ request.appointment.id }}</strong></span>
                        <span><strong>Nurse: {{request.nurse.user.username}}</strong></span>
                        <span><strong>{{ request.creation_time }}</strong></span>

                        <div class="buttons">
                            <button class="list-button"><a class="list-links"
                                    href="{% url 'auditor_request_detail' request.id %}">View Details</a></button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <div class="userlistcl">
        <div class="infoheadercl">
            <h3>Pending Requests</h3>
        </div>

        <div class="userscontianercl">
            <div class="scrollcl">
                <ul>
                    <li class="app1">
                        <span><strong></strong></span>
                        <span><strong>No Pending Requests Found</strong></span>
                        <span><strong></strong></span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    {% endif %}
    {% endif %}

    {% if working_on_requests %}
    <h2>Working On Requests</h2>
    <ul>
        {% for request in working_on_requests %}
        <li class="app1">
            <span><strong>Appointment #{{ request.appointment.id }}</strong></span>
            <span><strong>Nurse: {{request.nurse.user.username}}</strong></span>
            <span><strong>{{ request.creation_time }}</strong></span>
            <div class="buttons">
                <button class="list-button"><a class="list-links"
                        href="{% url 'auditor_request_detail' request.id %}">View Details</a></button>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if finished_requests %}
    <h2>Finished Requests</h2>
    <ul>
        {% for request in finished_requests %}
        <li class="app1">
            <span><strong>Appointment #{{ request.appointment.id }}</strong></span>
            <span><strong>Nurse: {{request.nurse.user.username}}</strong></span>
            <span><strong>{{ request.creation_time }}</strong></span>
            <div class="buttons">
                <button class="list-button"><a class="list-links"
                        href="{% url 'auditor_request_detail' request.id %}">View Details</a></button>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% endblock main %}