{% extends 'main_home/actors_base.html' %}
{% load static %}
{% block css_2 %}

<link rel="stylesheet" href="{% static 'css/list.css' %}">
<link rel="stylesheet" href="{% static 'css/lists/ap_list.css' %}">

{% endblock css_2 %}

{% block main %}
<div class="Container">
    <div class="header ">
        <div class="search">
            <form class="search-bar">
                <button>
                    <span class="material-icons search-icon">
                        search
                    </span>
                </button>
                <input class="search-bar-input" placeholder="Search" required="" type="text">
                <button class="reset" type="reset">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="nurse">
            <button class="list-button filter">Filter<span class="material-icons">expand_more</span></button>
            <button class="list-button">Sort</button>
            <button class="list-button book"><a class="list-links" href={% url 'client_appointment_book' %}><span
                        class="material-icons">add</span> Book Appointment</a></button>
        </div>

    </div>





    {% if booked_appointments %}
    <h2>Booked Appointments</h2>
    <div>
        <ul class="lists">
            {% for appointment in booked_appointments %}
            {%if not appointment.performed %}
            <li class="app1">
                <span><strong>Appointment #{{ appointment.id }}</strong></span>
                <span><strong>{{ appointment.date }}</strong></span>
                <div class="buttons">
                    {% if appointment.cancelable >= 3 and not appointment.payment.payed_appointment_fee%}
                    <button class="list-button cancel-button">Cancel</button>
                    {% endif %}
                    <button class="list-button"><a class="list-links"
                            href="{% url 'client_appointment_detail' appointment.id %}">View Details</a></button>
                </div>
                <form class="cancel-form" action="{% url 'client_cancel_appointment' appointment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Cancel Appointment</button>
                </form>
            </li>
            {%endif%}
            {% endfor %}

        </ul>
    </div>
    {% endif %}


    {% if performed_appointments %}
    <h2>Performed Appointments</h2>
    <div>
        <ul class="lists">
            {% for appointment in performed_appointments %}
            <li class="app1">
                <span><strong>Appointment #{{ appointment.id }}</strong></span>
                <span><strong>{{ appointment.date }}</strong></span>
                <div class="buttons">
                    <button class="list-button"><a class="list-links"
                            href="{% url 'client_appointment_detail' appointment.id %}">View Details</a></button>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
    {% endif %}

    {% if canceled_appointments %}
    <h2>Canceled Appointments</h2>
    <div>
        <ul class="lists">
            {% for appointment in canceled_appointments %}
            <li class="app1">
                <span><strong>Appointment #{{ appointment.id }}</strong></span>
                <span><strong>{{ appointment.date }}</strong></span>
                <div class="buttons">
                    <button class="list-button"><a class="list-links"
                            href="{% url 'client_appointment_detail' appointment.id %}">View Details</a></button>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
    {% endif %}



</div>
</div>

{% endblock main %}

{% block sidebar %}

<li><a href={% url 'client' %}><span class="material-icons X">layers</span><span class="nav-item">Home</span></a></li>
<li><a href={% url 'client_appointment_book' %}><span class="material-icons X">event</span><span class="nav-item">Book
            Appointment</span></a></li>
<li><a href={% url 'client_result_list' %}><span class="material-icons X">list</span><span
            class="nav-item">Results</span></a></li>
<li><a href={% url 'client_request_list' %}><span class="material-icons X">track_changes</span><span
            class="nav-item">Track Progress</span></a></li>
<li><a href={% url 'create_complaint' %}><span class="material-icons X">feedback</span><span class="nav-item">Send
            Complaint</span></a></li>

{% endblock sidebar %}


{% block scripts_2 %}
<script>
    var path = window.location.pathname;
    var links = document.querySelectorAll('nav ul li a');

    links.forEach(function (link) {
        var href = link.getAttribute('href');

        // Check if the current path starts with the href
        if (path.startsWith(href)) {
            // Add the "booked" class to the parent <li> element
            link.parentElement.classList.add('booked');
        }
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.cancel-button').click(function () {
            $(this).closest('.app1').find('.cancel-form').submit();
        });
    });
</script>
{% endblock scripts_2 %}