{% extends 'main_home/actors_base.html' %}
{% load static %}

{% block css_2 %}

<link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock css_2 %}

{% block main %}
<div class="Container">
    <h1>Homepage - List of Invoices</h1>
    <ul>
    {% if invoices %}
        {% for invoice in invoices %}
        <li class="app1">
          <span><strong>Invoice #{{ invoice.id }}</strong></span>
          <span><strong>{{ invoice.creation_time }}</strong></span>
          <span><strong>Total Price: {{ invoice.total_price }}</strong></span>
          <span><strong>{% if invoice.payment_status %}Paid{% else %}Unpaid{% endif %}</strong></span>
          <div class="buttons">
              <button class="list-button"><a class="list-links" href="{% url 'invoice_detail' invoice.id %}">View Details</a></button>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <div>
            <ul class="lists">
                <li class="app1 empty">
                    <span><strong>No Invoices Found</strong></span>
                </li>
            </ul>
        </div>
    {% endif %}
    </ul>

</div>
{% endblock main %}


{% block sidebar %}

    <li><a href={% url 'receptionist' %}><span class="material-icons X">layers</span> <span class="nav-item">Home</span></a></li>
    <li><a href={% url 'appointment_list' %}><span class="material-icons X">list_alt</span><span class="nav-item">Appointment List</span></a></li>
    <li><a href={% url 'complaint_list' %}><span class="material-icons X">list</span><span class="nav-item">Complaint list</span></a></li>
    <li><a href={% url 'client_add' %}><span class="material-icons X">person_add</span><span class="nav-item">Create Client</span></a></li>
    <li><a href={% url 'blood_add' %}><span class="material-icons X">opacity</span><span class="nav-item">Add Blood Sample</span></a></li>

{% endblock sidebar %}

 