{% extends 'main_home/actors_base.html' %}
{% load static %}
    

{% block main %}{% endblock main %}

{% block sidebar %}

    <li><a><span class="material-icons X">layers</span> <span class="nav-item">Home</span></a></li>
    <li><a><span class="material-icons X">chat</span><span class="nav-item">Messages</span></a></li>
    <li><a><span class="material-icons X">list_alt</span><span class="nav-item">Appointment List</span></a></li>
    <li><a><span class="material-icons X">list</span><span class="nav-item">Complaint list</span></a></li>
    <li><a><span class="material-icons X">notes</span><span class="nav-item">Create Client</span></a></li>

{% endblock sidebar %}

 