{% extends 'main_home/actors_base.html' %}
{% load static %}

{% block css_3 %}

{% include 'main_home/page_css_dev.html' %}

{% endblock css_3 %}

{% block main %}

    <div class="Container">
        <h2>Active Appointments</h2>
{% if active_appointments %}
  <ul>
    {% for appointment in active_appointments %}
      <li>
        <strong>Appointment ID:</strong> {{ appointment.id }}<br>
        <strong>Date:</strong> {{ appointment.date }}<br>
        <!-- Add any other relevant appointment information -->
        <a href="{% url 'client_appointment_detail' appointment.id %}">View Details</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No active appointments available.</p>
{% endif %}

<h2>Canceled Appointments</h2>
{% if canceled_appointments %}
  <ul>
    {% for appointment in canceled_appointments %}
      <li>
        <strong>Appointment ID:</strong> {{ appointment.id }}<br>
        <strong>Date:</strong> {{ appointment.date }}<br>
        <!-- Add any other relevant appointment information -->
        <a href="{% url 'client_appointment_detail' appointment.id %}">View Details</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No canceled appointments available.</p>
{% endif %}
    </div>

{% endblock main %}

{% block sidebar %}

    <li><a href={% url 'client' %}><span class="material-icons X">layers</span> <span class="nav-item">Home</span></a></li>
    <li><a href={% url 'client_appointment_book' %}><span class="material-icons X">event</span><span class="nav-item">Book Appointment</span></a></li>
    <li><a href={% url 'client_result_list' %}><span class="material-icons X">list</span><span class="nav-item">Results</span></a></li>
    <li><a href={% url 'client_request_list' %}><span class="material-icons X">track_changes</span><span class="nav-item">Track Progress</span></a></li>
    <li><a href={% url 'create_complaint' %}><span class="material-icons X">feedback</span><span class="nav-item">Send Complaint</span></a></li>

{% endblock sidebar %}

