{% extends 'main_home/actors_base.html' %}
{% load static %}
{% block css_2 %}

<link rel="stylesheet" href="{% static 'css/ap_list.css' %}">

{% endblock css_2 %}
{% block main %}
<div class="Container">
		
    <h1>Client Lobby</h1>
    {% if clients %}
        {% for client in clients %}
            <li class="app1">
                <span><strong>Appointment #{{ client.id }}</strong></span>
                <span><strong>{{ client.client.user.first_name }} {{ client.client.user.last_name }}</strong></span>
                <div class="buttons">
                    <button class="list-button"><a class="list-links" href="{% url 'lobby_detail' client.id %}">View Details</a></button>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <div>
            <ul class="lists">
                <li class="app1 empty">
                    <span><strong>No Clients Waiting in the Lobby</strong></span>
                </li>
            </ul>
        </div>
    {% endif %}
     
    
</div>

{% endblock main %}



{% block sidebar %}

    <li><a  href={% url 'nurse' %}><span class="material-icons X">layers</span> <span class="nav-item">Home</span></a></li>
    <li><a href={% url 'nurse_message_chat' %}><span class="material-icons X">chat</span><span class="nav-item">Messages</span></a></li>
    <li><a href={% url 'request_list' %}><span class="material-icons X">list_alt</span><span class="nav-item">Requests List</span></a></li>
    {% comment %} <li><a><span class="material-icons X">list</span><span class="nav-item">Generate Result</span></a></li> {% endcomment %}

{% endblock sidebar %}
