{% extends 'nurse/nurse.html' %}
{% load static %}

{% block main %}
<div class="Container">
		
    <h1>Analysis Request Detail</h1>

    <h2>Request ID: {{ analysis_request.id }}</h2>
    
    <p>Date of Creation: {{ analysis_request.creation_time }}</p>
    <p>Client: {{ analysis_request.appointment.client.user.first_name }} {{ analysis_request.appointment.client.user.last_name }}</p>
    <p>Blood Type: {{ analysis_request.appointment.client.bloodbank.blood_type }}</p>
    <!-- Display other client information as needed -->
    
    <p>Duration: {{ analysis_request.duration }}</p>
    
    <h3>Requested Tests</h3>
    <ul>
        {% for test in analysis_request.appointment.tests.all %}
        <li>{{ test }}</li>
        {% endfor %}
    </ul>
    
    {% if analysis_request.appointment.document %}
        <p>Document: 
        </p>    
        <a href="{{ analysis_request.appointment.document.url }}" target="_blank">
            <img src="{{ analysis_request.appointment.document.url }}" width="200" height="200">
        </a>
    {% else %}
        <p>No document provided.</p>
    {% endif %}
    
    <p>Status: {{ analysis_request.get_status_display }}</p>
    
    {% if not analysis_request.start_time %}
        <form method="POST" action="{% url 'start_analysis' analysis_request.id %}">
            {% csrf_token %}
            <button type="submit">Start</button>
        </form>
    {% else %}
        <a href="{% url 'request_test_list' analysis_request_id=analysis_request.id %}">View Tests</a>
    {% endif %} 
    
    {% if analysis_request.all_tests_confirmed and not analysis_request.status == "finished" %}
    <form method="POST" action="{% url 'finish_analysis' analysis_request.id %}">
        {% csrf_token %}
        <button type="submit">Mark Request as Finished</button>
    </form>
    {% endif %}
    
    
</div>
{% endblock main %}
