{% extends 'nurse/nurse.html' %}
{% load static %}
{% block css_2 %}

<link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock css_2 %}
{% block main %}
<div class="Container">
		
    <h1>Analysis Requests</h1>

    <div class="header ">
        <div class="search">
            <form class="search-bar">
                <button>
                    <span class="material-icons search-icon">
                        search
                        </span>
                </button>
                <input class="search-bar-input" placeholder="Search" required="" type="text">
                <button class="reset" type="reset">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="nurse">
            <button class="list-button filter">Filter<span class="material-icons">expand_more</span></button>
        <button class="list-button">Sort</button>
        </div>
        
    </div>

    
    <h2>Pending Requests</h2>
    {% if pending_requests %}
        <ul>
            {% for request in pending_requests %}
                <li class="app1">
                    <span><strong>Appointment #{{ request.appointment.id }}</strong></span>
                    <span><strong>{{ request.appointment.client.user.first_name }}   
                        {{ request.appointment.client.user.last_name }}</strong></span>
                    <span><strong>{{ request.creation_time }}</strong></span>

                    <div class="buttons">
                    <button class="list-button"><a class="list-links" href="{% url 'request_detail' request.id %}">View Details</a></button>
                    </div>
                </li>   
            {% endfor %}
        </ul>
    {% else %}
        <div>
            <ul class="lists">
                <li class="app1 empty">
                    <span><strong>No Pending Requests Found</strong></span>
                </li>
            </ul>
        </div>
    {% endif %}
    
    <h2>Working On Requests</h2>
    {% if working_on_requests %}
        <ul>
            {% for request in working_on_requests %}
                <li class="app1">
                    <span><strong>Appointment #{{ request.appointment.id }}</strong></span>
                    <span><strong>{{ request.appointment.client.user.first_name }}   
                        {{ request.appointment.client.user.last_name }}</strong></span>
                    <span><strong>{{ request.creation_time }}</strong></span>
                    <div class="buttons">
                    <button class="list-button"><a class="list-links" href="{% url 'request_detail' request.id %}">View Details</a></button>
                    </div>
                </li>  
            {% endfor %}
        </ul>
    {% else %}
        <div>
            <ul class="lists">
                <li class="app1 empty">
                    <span><strong>No Working Requests Found</strong></span>
                </li>
            </ul>
        </div>  
    {% endif %}
    
    <h2>Finished Requests</h2>
    {% if finished_requests %}
        <ul>
            {% for request in finished_requests %}
                <li class="app1">
                    <span><strong>Appointment #{{ request.appointment.id }}</strong></span>
                    <span><strong>{{ request.appointment.client.user.first_name }}   
                        {{ request.appointment.client.user.last_name }}</strong></span>
                    <span><strong>{{ request.creation_time }}</strong></span>
                    <div class="buttons">
                    <button class="list-button"><a class="list-links" href="{% url 'request_detail' request.id %}">View Details</a></button>
                    </div>
                </li>  
            {% endfor %}
        </ul>
    {% else %}
        <div>
            <ul class="lists">
                <li class="app1 empty">
                    <span><strong>No Finished Requests Found</strong></span>
                </li>
            </ul>
        </div>
    {% endif %}

    {% comment %} 
    <h2>Pending Requests</h2>
    {% if pending_requests %}
        <ul>
            {% for request in pending_requests %}
            <li>
                <strong>Analysis Request ID:</strong> {{ request.id }}<br>
                <strong>Appointment:</strong> {{ request.appointment }}<br>
                <strong>Client:</strong> {{ request.appointment.client.user.first_name }}   
                {{ request.appointment.client.user.last_name }}
                <br>
                <strong>Creation Time:</strong> {{ request.creation_time }}<br>
                <a href="{% url 'request_detail' request.id %}">View Details</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pending requests found.</p>
    {% endif %}
    
    <h2>Working On Requests</h2>
    {% if working_on_requests %}
        <ul>
            {% for request in working_on_requests %}
            <li>
                <strong>Analysis Request ID:</strong> {{ request.id }}<br>
                <strong>Appointment:</strong> {{ request.appointment }}<br>
                <strong>Client:</strong> {{ request.appointment.client.user.first_name }}   
                {{ request.appointment.client.user.last_name }}<br>
                <strong>Creation Time:</strong> {{ request.creation_time }}<br>
                <a href="{% url 'request_detail' request.id %}">View Details</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No working on requests found.</p>
    {% endif %}
    
    <h2>Finished Requests</h2>
    {% if finished_requests %}
        <ul>
            {% for request in finished_requests %}
            <li>
                <strong>Analysis Request ID:</strong> {{ request.id }}<br>
                <strong>Appointment:</strong> {{ request.appointment }}<br>
                <strong>Client:</strong> {{ request.appointment.client.user.first_name }}   
                {{ request.appointment.client.user.last_name }}<br>
                <strong>Creation Time:</strong> {{ request.creation_time }}<br>
                <a href="{% url 'request_detail' request.id %}">View Details</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No finished requests found.</p>
    {% endif %} {% endcomment %}
    
</div>

{% endblock main %}
