* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.drop-down{
    padding: 0 !important;
}


.container {
    background-color: rgb(255, 255, 255);
    text-align: center;
    float: right;
    width: 100%;
    height: 100vh;
    position: relative; 
}

header {
    width: 100%;
    height: 9%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 14px 41px -1px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 4px 14px 41px -1px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 4px 14px 41px -1px rgba(0, 0, 0, 0.86);
/* new css */
    position: fixed; /* add position fixed */
    top: 0; /* set top position to 0 */
    left: 0; /* set left position to 0 */
    right: 0; /* set right position to 0 */
    z-index: 1; /* set z-index to 1 to make sure it's on top of other elements */

}

/********** Adam Added ***********/
header h1{
    font-weight: 600;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.wlc {
    margin-left: 300px;
}

.Left {
    float: right;
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.DROPS {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.DROPS a {
    width: 40px;
    height: 40px;
    padding: 50px;
    text-decoration: none;
    color: black;
    padding: 1px;
}

.DROPS li {
    padding: 20px;
    list-style: none;
}

.DROPS li:hover ul {
    transition: 0.5s;
    display: block;
    transition: 0.5s;
}

.DROPS li span {
    font-size: 40px;
}

.DROPS li a:hover {
    color: #267ca6;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search span {
    font-size: 30px;
}

.DROPS li ul {
    top: 85px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: none;
    background-color: #267ca6;
    border-radius: 10px;
    height: auto;
    transition: 0.5s;
}

.DROPS li ul li {
    font-size: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    color: white;
    transition: 0.5s;
}

.DROPS li ul li:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
}

.searchTerm {
    width: 300px;
    border: 3px solid gainsboro;
    border-right: none;
    padding: 10px;
    height: 20px;
    border-radius: 25px 0 0 25px;
    outline: none;
    color: #267ca6;
}

.searchButton {
    display: flex;
    align-items: center;
    background: gainsboro;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 4px;
    font-size: 20px;
    border: solid 3px gainsboro;
    border-radius: 0px 25px 25px 0px;
}

nav {
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #267ca6;
    width: 90px;
    height: 100vh ;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgb(0, 0, 0), 0.1;
    
/* new css */
    position: fixed; /* add position fixed */
    left: 0; /* set left position to 0 */
    overflow-y: auto; /* add overflow-y auto to allow the sidebar to scroll if needed */
    z-index: 1; /* set z-index to 1 to make sure it's on top of other elements */
    
}

.logo {
    position: absolute;
    top: -8px;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo:hover {
    display: flex;
}

.logo img {
    width: 45px;
    height: 45px;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

nav a {
    position: relative;
    color: gainsboro;
    font-size: 18px;
    display: table;
    width: 300px;
    padding: 10px;
}

nav .material-icons {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

nav ul {
    margin-top: 200px;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

nav:hover {
    width: 280px;
    transition: all 0.5 ease;
}

nav ul li {
    transition: 0.5s;
}

.end {
    position: absolute;
    bottom: 10px;
}

nav ul li a {
    padding: 20px 10px;
}

nav ul li {
    transition: .5s;
}

nav ul li::after {
    content: '';
    display: block;
    position: relative;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

nav ul li:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.1);
}

nav ul li a:hover {
    color: black;
}

.Main {
    height: 89%;
    margin-top: 9%; /* add margin-top to the content to push it down below the header */
    margin-left: 90px;
}

.Main .Container{
    margin-bottom: 5%; 
}

.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}