*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

.Container {
    margin: auto;
    width: 85%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
/*new adam */
    background-color: white;
    /* margin-bottom: 5% ; */
}


.header.policy{
    text-align: center;
    color: white;
    background-color: #267ca6;
    width:60%;
    padding:2rem;
    border-radius: 25px;
    margin:3rem;
}
.Writing{
    text-align: center;
    width:90%;
    padding:10px;
}
.Writing p{
    margin:10px;
}
h5{
    padding:2rem;
    font-size:2rem;
}
