{% extends 'main_home/base.html' %}
{% load static %}
    
{% block css %}
    
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/actors.css' %}" />
    
{% endblock css %}

{% block header %}{% endblock header %}
    
{% block content %}

    <div class="container">
        
        <header>
            <div class="wlc">
                <h1>Welcome Back {{user.username}}</h1>
                <p>get well soon  <span class="material-icons">diversity_1</span></p>
            </div>
            <div class="Left">
                <div class="search">
                    <form class="search-bar">
                        <button>
                            <span class="material-icons search-icon">
                                search
                                </span>
                        </button>
                        <input class="search-bar-input" placeholder="Search" required="" type="text">
                        <button class="reset" type="reset">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                <ul class="DROPS">
                    {% if user.groups.first.name == 'client' %}
            
                    <li><a href="#"><span class="material-icons">notifications</span></a></li>
                    <li><a onclick="showElement()"><img class="profile-pic" alt="profile_pic" src="{{ user.client.profile_pic.url }}"></img><span>{{user.username}}</span><i class="fa-solid fa-chevron-down"></i></a>
                    <ul id="myElement">
                    <a href="{% url 'profile_update' %}" class="drop-down"><li><span class="material-icons">person</span>Profile</li></a>
                    <a href="{% url 'profile_settings' %}" class="drop-down"><li><span class="material-icons">settings</span>Settings</li></a>
                    <a href="{% url 'profile_help' %}" class="drop-down"><li><span class="material-icons">help</span>Help</li></a>
                    <a href="{% url 'profile_contact' %}" class="drop-down"><li><span class="material-icons">call</span>Contact us</li></a>
                                        
                    {% elif user.groups.first.name == 'nurse' %}
                    
                    <li><a href="#"><span class="material-icons">notifications</span></a></li>
                    <li><a onclick="showElement()"><img class="profile-pic" alt="profile_pic" src="{{ user.nurse.profile_pic.url }}"></img><span>{{user.username}}</span><i class="fa-solid fa-chevron-down"></i></a>
                    <ul id="myElement">
                    <a href="{% url 'profile_update' %}" class="drop-down"><li><span class="material-icons">person</span>Profile</li></a>
                    <a href="{% url 'profile_settings' %}" class="drop-down"><li><span class="material-icons">settings</span>Settings</li></a>
                                        
                    {% elif user.groups.first.name == 'receptionist' %}
                    
                    <li><a href="#"><span class="material-icons">notifications</span></a></li>
                    <li><a class="profile-pic-container" onclick="showElement()"><img class="profile-pic" alt="profile_pic" src="{{ user.receptionist.profile_pic.url }}"></img><span>{{user.username}}</span><i class="fa-solid fa-chevron-down"></i></a>
                    <ul id="myElement">
                    <a href="{% url 'profile_update' %}" class="drop-down"><li><span class="material-icons">person</span>Profile</li></a>
                    <a href="{% url 'profile_settings' %}" class="drop-down"><li><span class="material-icons">settings</span>Settings</li></a>
                                        
                                    
                    {% elif user.groups.first.name == 'auditor' %}
                    
                    <li><a href="#"><span class="material-icons">notifications</span></a></li>
                    <li><a onclick="showElement()"><img class="profile-pic" alt="profile_pic" src="{{ user.auditor.profile_pic.url }}"></img><span>{{user.username}}</span><i class="fa-solid fa-chevron-down"></i></a>
                    <ul id="myElement">
                    <a href="{% url 'profile_update' %}" class="drop-down"><li><span class="material-icons">person</span>Profile</li></a>
                    <a href="{% url 'profile_settings' %}" class="drop-down"><li><span class="material-icons">settings</span>Settings</li></a>
                    
                    {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
        </header>
        
        <div class="Main">
            {% block main %}{% endblock main %}
        </div>
    </div>
    <nav>
        <a class="logo" href="{% url user.groups.first.name %}">
            <img alt="brave lab logo" src="{% static 'img/download.png' %}">
        </a>
        <ul>
            {% block sidebar %}{% endblock sidebar %}
            <li class="end">
                <a href='{% url 'logout' %}'>
                    <span class="material-icons emoji">logout</span>
                    <span class="nav-item">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    </section>

{% endblock content %}

{% block scripts %}
<script>
    function showElement() {
        var element = document.getElementById("myElement");
        if (element.style.display === "block") {
            element.style.display = "none";
        } else {
            element.style.display = "block";
        }
    }
</script>
{% endblock scripts %}
