{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Brave Laboratory</title>
    

    {% block css %}{% endblock css %}

</head>
<body>
    
    {% block header %}
    <section class="header">
        <nav>
            <a href="{% url 'home' %}"><img alt="Brave Lab Logo" src="{% static 'img/download.png' %}"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">SERVICES</a></li>
                    <li><a href="">CONTACT</a></li>
                    <li><a href="{% url 'login' %}">SIGN IN</a></li>
                </ul>
            </div>
        </nav>
    {% endblock header %}

    {% block content %}{% endblock content %}

</body>
</html>