{% extends 'main_home/base.html' %}
{% load static %}

    
{% block css %}
    
    <link rel="stylesheet" href="{% static 'css/Login-SignUp.css' %}">
    <style>
        body{
            background-image:url("{% static 'img/signupback.png' %}");
        }

        .header{
            height: auto !important;
        }
    </style>
    
{% endblock css %}


{% block content %}

    </section>

    <div class="login-Container">
        <form>
            <div class="email">
                <label>Email</label>
                <input type="text" placeholder="Email">
            </div>

            <div class="password">
                <label>Password</label>
                <input type="text" placeholder="Password">
            </div>


            <input class="login-button" type="button" value="Login">


            <div class="remember-me">
                <input type="Checkbox">
                <label>Remember Me</label>
            </div>


            <p class="account-redirect">
                You Dont have an account?
                <a href="{% url 'register-page' %}">Sign Up</a>
            </p>
        </form>
    </div>

{% endblock content %}