<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login-SignUp.css">
    <title>Log In</title>
</head>


<body>
    <div class="login-Container">
        <form>
            <div class="email">
                <label>Email</label>
                <input type="text" placeholder="Email">
            </div>

            <div class="password">
                <label>Password</label>
                <input type="text" placeholder="Password">
            </div>


            <input class="login-button" type="button" value="Login">


            <div class="remember-me">
                <input type="Checkbox">
                <label>Remember Me</label>
            </div>


            <p class="account-redirect">
                You Dont have an account?
                <a href="./SignUpPage.html">Sign Up</a>
            </p>
        </form>
    </div>

</body>
</html>
