<label for="id_profile_pic" class="label-file">Update Profile Picture</label>
                    <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic" class="input-file"></p>
                </div>
            </div>

<div class="right">


<label for="id_username" class="label">Username</label>
<input readonly type="text" name="username" value="{{ user_form.username.value }}"  maxlength="150" required id="id_username" class="input-field">

<label for="id_email" class="label">Email</label>
<input type="email" name="email" value="{{ user_form.email.value }}" maxlength="254" id="id_email" class="input-field">


<label class="label" for="id_first_name">First name</label>
<input type="text" name="first_name" value="{{ user_form.first_name.value }}" maxlength="150" id="id_first_name" class="input-field">

<label  class="label" for="id_last_name">Last name</label>
<input type="text" name="last_name" value="{{ user_form.last_name.value }}" maxlength="150" id="id_last_name" class="input-field">

<label class="label" for="id_phone_number">Phone number</label>
<input type="text" name="phone_number" value="{{ actor_form.phone_number.value }}" maxlength="10" required id="id_phone_number" class="input-field">


<label class="label" for="id_address">Address</label>
<input type="text" name="address" value="{{ actor_form.address.value }}" maxlength="50" required id="id_address" class="input-field">


<button class="btn" type='submit'>Update</button>