{% extends 'nurse/nurse.html' %}
{% load static %}

{% block main %}
<div class="Container">
		
    <h1>Appointment Detail</h1>

    <h2>{{ appointment }}</h2>
    
    <p>Date: {{ appointment.date }}</p>
    <p>Client: {{ appointment.client.user.first_name }} {{ appointment.client.user.last_name }}</p>
    <p>Description: {{ appointment.description }}</p>
    <!-- Display other appointment details as needed -->
    <p>Document:</p>
    {% if appointment.document %}
        <a href="{{ appointment.document.url }}" target="_blank">
            <img src="{{ appointment.document.url }}" width="200" >
        </a>
    {% else %}
        <p>No document provided.</p>
    {% endif %}

    {% if not appointment.performed %}
        <button type="submit" ><a href="{% url 'evaluation' appointment.id %}">Start Evaluation</a></button>
    {% else %}
      <p>Appointment already preformed.</p>
    {% endif %}
    {% comment %} {% if not appointment.performed %}
      <form method="POST" action="{% url 'lobby_detail' appointment.id %}">
        {% csrf_token %}
        <button type="submit" name="preformed">Preformed</button>
      </form>
    {% else %}
      <p>Appointment already preformed.</p>
    {% endif %} {% endcomment %}
    
</div>
{% endblock main %}