{% extends 'admin_user/admin_user.html' %}
{% load static %}
{% block main %}
<style>
    .Container {
      max-width: 250px;
      margin: 0 auto;
      padding: 40px 80px;
      border: 3px solid #00748c50;
      border-radius: 10px;
      background-color: #fff;
      animation: fade-in 1s ease-out;
      text-align: left;
      display: flex;
      flex-direction: column;
    }
  
    .Container h1 {
      color: #111;
      margin-bottom: 20px;
    }
  
    .Container h3 {
      color: #222;
      margin-bottom: 10px;
    }
  
    .Container p {
        font-size: 1.6rem;
      color: #333;
      margin-bottom: 5px;
    }
  
    .Container ul {
      list-style: none;
      padding-left: 20px;
      margin-top: 0;
    }
  
    .Container li {
      color: #333;
      margin-bottom: 5px;
    }
  
    .Container img {
      max-width: 100%;
      height: auto;
      border: 3px solid #00748c50;
      border-radius: 5px;
      margin-top: 10px;
    }
  
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    .Container .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
  
    .Container .button:hover {
      background-color: #0056b3;
    }

    .Container .tests{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 0;
    }
  </style>
<div class="Container">
    
    <h1>Blood Bank #{{bank.id}}</h1>
    <p>Codename: <strong>{{ bank.codename }}</strong></p>
    <p>Capacity: <strong>{{ bank.capacity }}</strong></p>
    <p>Samples Stored: <strong>{{ bank.count }}</strong></p>

</div>
{% endblock main %}


{% block scripts_2 %}
<script src="{% static 'js/resources/sweetalert2.all.min.js'%}"></script>

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        title: 'Added !',
        text: '{{ message }}',
        icon: 'success',
        confirmButtonText: 'Confirm'
    })
</script>
{% endfor %}
{% endif %}

<script>
    var path = window.location.pathname;
    var links = document.querySelectorAll('nav ul li a');

    links.forEach(function (link) {
        var href = link.getAttribute('href');

        // Check if the current path starts with the href
        if (path.startsWith(href)) {
            // Add the "active" class to the parent <li> element
            link.parentElement.classList.add('active');
        }
    });
</script>
{% endblock scripts_2 %}
