{% extends 'admin_user/admin_user.html' %}
{% load static %}
{% block main %}
<style>
    .filter{
        width: 130%;
    }
    .nurse{
        margin-right: 3%;
    }
</style>
<div class="Container">
    
    <h3>Blood Banks</h3>

    <div class="header ">
        <div class="search">
            
        </div>
        <div class="nurse">
            <a href="{% url "blood_bank_add" %}">
            <button class="list-button filter">
                <span class="material-icons">add</span>
                <span>Add Blood Bank</span>
            </button>
            </a>
        </div>
        
        
    </div>
    {% if banks %}
        <ul>
            {% for bank in banks %}
                <li class="app1">
                    <span><strong>Bank #{{ bank.id }}</strong></span>
                    <span><strong>Capacity: {{ bank.capacity }}</strong></span>
                    <span><strong>Samples: {{ bank.count }}</strong></span>

                    <div class="buttons">
                    <button class="list-button"><a class="list-links" href="{% url 'blood_bank_detail' bank.id %}">View Details</a></button>
                    </div>
                </li>   
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li class="app1">
                <span><strong></strong></span>
                <span><strong>No Blood Banks Registered</strong></span>
                <span><strong></strong></span>
            </li>   
        </ul>
    {% endif %}

</div>
{% endblock main %}
