{% extends 'receptionist/receptionist.html' %}
{% load static %}
{% block css_3 %}

    {% include 'main_home/page_css_dev.html' %}

{% endblock css_3 %}
{% block main %}

<div class="Container">
    <h1>Appointment Details</h1>
    
    <h2>{{ appointment.client }}</h2>
    <p>Date: {{ appointment.date }}</p>
    <p>Description: {{ appointment.description }}</p>
    <p>Status: {{ appointment.status }}</p>
    <!-- Other appointment details -->
    
    {% if not appointment.arrived %}
        <form action="{% url 'mark_arrived' appointment.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Mark as Arrived</button>
        </form>
    {% else %}
        <p>Client has arrived</p>
        <form method="POST" action="{% url 'cancel_arrived' appointment.id %}">
            {% csrf_token %}
            <button type="submit">Cancel Arrival</button>
        </form>        
    {% endif %}
        
</div>
{% endblock main %}