{% extends 'receptionist/receptionist.html' %}
{% load static %}

{% block main %}
<style>
    .Container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
        border: 2px solid lightgray;
        border-radius: 10px;
        background-color: #fff;
        animation: fade-in 1s ease-out;
    }

    .Container h1 {
        color: #111;
        text-align: center;
        margin-bottom: 20px;
    }

    .Container h2 {
        color: #222;
        text-align: center;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .Container p {
        color: #333;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .Container form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .Container button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
        font-size: 16px;
    }

    .Container button:hover {
        background-color: #0056b3;
    }
</style>
<div class="Container">
    <h1>Appointment Details</h1>
    
    <h2>{{ appointment.client }}</h2>
    <p>Date: {{ appointment.date }}</p>
    <p>Description: {{ appointment.description }}</p>
    <p>Tests Price: {{ appointment.payment.tests_fee }}</p>
    <p>Appointment Fee Status: 
        {% if appointment.payment.payed_appointment_fee %}
            Payed 
            {% else %}
            UnPayed
            {% endif %}
        </p>
    <p>Tests Fee Status: 
        {% if appointment.payment.tests_fee and appointment.payment.payed_nurse_tests_fee %}
        Payed
        {% else %}
        UnPayed
        {% endif %}
    </p>
    <p>Total Payments: {{ appointment.payment.total_amount_payed }}</p>
    <!-- Other appointment details -->
    
    {% if not appointment.arrived %}
        <form action="{% url 'appointment_confirm' appointment.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Mark as Arrived</button>
        </form>
    {% else %}
        <p>Client has arrived</p>
    {% endif %}
        
</div>
{% endblock main %}

{% block scripts_3 %}

<script src="{% static 'js/resources/sweetalert2.all.min.js'%}"></script>

{% if messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                title: {% if message.tags == 'success' %}'Booked!'{% else %}'Error!'{% endif %},
                text: '{{ message }}',
                icon: {% if message.tags == 'success' %}'success'{% else %}'error'{% endif %},
                confirmButtonText: 'Confirm'
            });
        </script>
    {% endfor %}
{% endif %}

{% endblock scripts_3 %}