{% extends 'main_home/password/password_reset.html' %}

{% block content %}
</section>
    
<div class="login-Container password-complete-container">
    <h2>Password Reset Complete</h2>
    <div class="alert alert-success password-complete-message" role="alert" style="font-size: 24px;">
      <strong>Success!</strong> Your password has been reset successfully.
    </div>            
    <a href="{% url 'login' %}" style="font-size:1.2rem;font-weight:600;" >Go Back To Login</a>
</div>



{% endblock content %}
