/* Background*/
body {
    background-color: white;
    font-family: sans-serif;
    background-color: #00758c7a;
    background-image: url(/Login-SignUp-Backgound.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/************************************/

/* Container login page */
.login-Container {
    margin: 3rem auto;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding: 2% 0;
}

/************************************/
/* Container sign up page */
.signup-Container {
    margin: 3rem auto;
    width: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding: 2% 0;
}

/************************************/
/*Form*/
form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
}

/************************************/

/* form content*/
form label {
    font-size: 16px;
    font-weight: bold;
}

form input:not([type="checkbox"]) {
    font-size: 16px;
    padding: 15px;
    border: none;
    border: 2px solid #00748C;
    border-radius: 12px;
    appearance: none;
    outline: none;
    transition: none;
}

form input:focus {
    border: 2px solid #00a1c1;
}

div .email,
div .name .last-name,
div .name .first-name,
div .number,
div .gender,
div .address,
div .password {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 85%;
}

/* first and last name*/
div .name {
    display: flex;
    gap: 1em;
    width: 85%;
}

div .name .last-name input,
div .name .first-name input {
    width: 85%;
}

/* gender */
div .gender select {
    font-size: 16px;
    color: #333;
    background-color: white;
    padding: 12px;
    border: 2px solid #00748C;
    border-radius: 12px;
}



/* password */
div .password-container {
    display: flex;
    gap: 1em;
    width: 85%;
}

div .password-container .password input {
    width: 85%;
}


/************************************/


/* Login Button */
.login-button {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    width: 25%;
    color: rgb(0, 0, 0);
    border: solid 1px #00a1c1;
    background-color: #00a1c1;
    transition: 0.2s;
}

.login-button:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

/************************************/

/*Remember me checkbox*/
.remember-me {
    margin-top: -10px;
    margin-left: -15px;
    margin-bottom: 16px;
}

.remember-me label {
    font-size: 14px;
}

/************************************/

/*Privacy Policy */
.privacy-policy {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}

.privacy-policy label {
    font-size: 14px;
}

.privacy-policy input {
    width: 16px;
    height: 16px;
}

/************************************/

/* Redirect to sign up page */
.account-redirect {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: -2px;
}

/************************************/