/* Background*/
body {
    background-color: white;
    font-family: sans-serif;
    background-color: #00758c7a;
    background-image: url(/login_register-Backgound.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/************************************/

/* Container login page */
.login-Container {
    margin: 1rem auto;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2% 0;
    margin-bottom: 10%;
}

/************************************/
/* Container sign up page */
.signup-Container {
    margin: 1rem auto;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2% 0;
}

/************************************/
/*Form*/
form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

/************************************/

/* form content*/
form label {
    font-size: 0.8rem;
    font-weight: bold;
}

form input:not([type="checkbox"]) {
    font-size: 0.8rem;
    padding: 10px;
    border: none;
    border: 2px solid #00748C;
    border-radius: 12px;
    appearance: none;
    outline: none;
    transition: none;
}

form input:focus {
    border: 2px solid #00a1c1;
}

div .field {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 85%;
}

/* first and last name*/
div .name {
    display: flex;
    gap: 1em;
    width: 85%;
}

div .name .last-name input,
div .name .first-name input {
    width: 85%;
}

/* gender */
div .gender select {
    font-size: 0.8rem;
    color: #333;
    background-color: white;
    padding: 12px;
    border: 2px solid #00748C;
    border-radius: 12px;
}



/* password */
div .password-container {
    display: flex;
    gap: 1em;
    width: 85%;
}

div .password-container .password input {
    width: 85%;
}


/************************************/


/* Login Button */
.login-button {
    margin-top: 20px;
    font-size: 1rem !important;
    font-weight: 600;
    padding: 14px;
    width: 25%;
    color: rgb(0, 0, 0);
    border: solid 1px #00c6ee;
    background-color: #00c6ee;
    transition: 0.2s;
}

.login-button:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}


.login-errors{
    width: 80% ;
    font-size: 14px;
    text-align: center;
}

.password-button {
    width: auto !important;
}


/************************************/

/*Remember me checkbox*/
.remember-me {
    margin-top: -10px;
    margin-left: -15px;
    margin-bottom: 16px;
}

.remember-me label {
    font-size: 14px;
}

/************************************/

/*Privacy Policy */
.privacy-policy {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}

.privacy-policy label {
    font-size: 0.725rem;
}

.privacy-policy input {
    width: 16px;
    height: 16px;
}

/************************************/

/* Redirect to sign up page */
.account-redirect {
    font-size: 0.725rem;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: -2px;
}

/************************************/
/** Center Nav Logo **/
nav {
    justify-content: center !important;
}
    
/************************************/
.password-complete-message {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    width: 90%;
    text-align: center;
}

/************************************/
.password-complete-container,
.password-done-container{
    width:550px !important;
}
.password-complete-message{
    width:90%;
}

.password-confirm-error-message{
    font-size: 1.2rem;
}
/************************************/
.links{
   font-size: 0.8rem; 
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
}

.links:hover {
    color: #0056b3;
    text-decoration: underline;
}

.links.small{
    font-size: 0.725rem;
}