{% extends 'nurse/nurse.html' %}
{% load static %}

{% block main %}
<div class="Container">
		
    <h1>Tests for Analysis Request #{{ analysis_request.id }}</h1>
    <ul>
        {% for test in tests %}
            <li>
                <strong>{{ test.test_offered.name }}</strong> - {% if test.confirmed %}Confirmed{% else %}Not Confirmed{% endif %}
                <a href="{% url 'request_test_detail' analysis_request_id=analysis_request.id test_id=test.id %}">View Details</a>
            </li>
        {% endfor %}
    </ul>
    {% if analysis_request.all_tests_confirmed and not analysis_request.status == "finished" %}
    <p>All Tests Are Confirmed !</p>
    <a href="{% url 'request_detail' analysis_request_id=analysis_request.id %}"> Go Back to Mark As Finished
    </a>
    {% else %}
    <a href="{% url 'request_detail' analysis_request_id=analysis_request.id %}" >Back to Analysis Request Detail</a>
    {% endif %}
    
    {% if not analysis_request.status == "finished" %}
    <a href="{% url 'request_test_add' analysis_request_id=analysis_request.id %}" >Add Test</a>
    {% endif %}

    

</div>

{% endblock main %}