{% extends 'receptionist/receptionist.html' %}
{% load static %}

{% block main %}
<div class="Container">
    <h1>Invoice #{{ invoice.id }} Details</h1>

    <ul>
    <li>Creation Time: {{ invoice.creation_time }}</li>
    <li>Total Price: {{ invoice.total_price }}</li>
    <li>Payment Status: {% if invoice.payment_status %}Paid{% else %}Unpaid{% endif %}</li>
    {% if unpaid != 0 %}
    <li>Ammount Unpaid: {{ unpaid }}</li>
    {% endif %}
    <li>Client: {{ invoice.client.user.first_name }} {{ invoice.client.user.last_name }}</li>
    <li>Laboratory: {{ invoice.laboratory }}</li>
    <!-- Add more details as needed -->
    </ul>

    {% if not invoice.payment_status %}
    <form action="{% url 'confirm_payment' invoice.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Confirm Payment</button>
    </form>
    {% else %}
        <p>Invoice Fully Payed</p>
    {% endif %}

    <a href="{% url 'receptionist' %}">Back to Invoice List</a>
</div>
{% endblock main %}